@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	font-family: 'Poppins',sans-serif;
	margin: 0;
	padding: 0;


}
body{
	display: flex;
	margin: 8%;
	min-height: 100px;
	background: #0D0C0C;
	justify-content: center;
	align-items: center;
}
body::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#777,#F99304);
	clip-path: circle(20% at 95% 95%);
	z-index: -1;
}
body::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#F99304,#615C54);
	clip-path: circle(40% at left);
	z-index: -1;
}
.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
}
.container .card{
	display: flex;
	position: relative;
	margin: 20px;
	width: 300px;
	height: 400px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0px 5px 10px rgba(238,176,13,0.2);
	border-radius: 20px;
	backdrop-filter: blur(15px);

}
.container .card .content{
	text-align: center;
	padding: 20px;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.8s;
}
.container .card:hover .content{
	
	transform: translateY(0px);
	opacity: 1;
}

.container .card .content h1{
	position: absolute;
	top: -40px;
	right: 30px;
	color:#F99304;
	font-size: 14ex;
	opacity: 0.15;
	cursor: none;

}
.container .card .content h3{
	color: #fff;
	font-size: 4ex;
}
.container .card .content p{
	color: #fff;
}
.container .card .content a{
	position: relative;
	display: inline-block;
	color: #000;
	padding: 8px 20px;
	background: linear-gradient(#F99304,#fff);
	border-radius: 8px;
	text-decoration: none;
}

/*login page*/
section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	color: #fff;
}
.box{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
}
.box .form{
	position: relative;
	width: 300px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 45px rgba(238,176,13,0.2);
	border-radius: 20px;
	backdrop-filter: blur(15px);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.box .form form{
	text-align: center;
	padding: 20px;
	transform: translateY(70px);
	opacity: 1;
	
}
.box .form h1{
	position: absolute;
	color:#F99304;
	font-size: 5ex;
	top: -60px;
	right: 20px;
	cursor: none;
	


}
.box .form .inputbox{
	color: #fff;
	margin-bottom: 10px;

}
.box .form .inputbox input{
	width: 80%;
	padding: 6px;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	background: transparent;

}

.box .form .submit input{
	cursor: pointer;
	width: 30%;
	padding: 6px;
	border-radius: 10px;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	background: transparent;
	background: linear-gradient(#F99304,#fff);

}
.box .form .remember input{
	margin-top: 15px;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
}

.box .form p{
	color: #fff;
	font-weight: 300px;
	font-size: 15px;
	margin-top: 5px;
}
.box .form a{
	font-weight: 300px;
	font-size: 15px;
	margin-top: 5px;
	text-decoration: none;
}

/* Register Page*/
.register{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
}
.register h1{
	position: absolute;
	color:#F99304;
	font-size: 5ex;
	top: -1px;
	right: 20px;
	cursor: none;
	
}

.register .form{
	position: absolute;
	color: #fff;
	margin-top: 300px;
	width: 700px;
	height: 500px;
	min-height: 63vh;
	box-shadow: 0px 15px 35px rgba(238,176,13,0.2);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
	border-radius: 20px;
	backdrop-filter: blur(50px);

}

.register .form form{
	margin-top: 0px;
	margin-left: 50px;
	color: #fff;
	text-align: left;
	padding: 5px;
	transform: translateY(60px);
	transition: 1s;
}
.register .form label{
	padding-left: 30px;
}
.register .form input{
	color: #fff;
	border-radius: 6px;
	font-weight: 300;
	font-size: 15px;
	margin-top: 5px;
	background: transparent;
}
.register .form .nbsp{
	position: absolute;
	margin-left: 30px;


}
.register .form .submit{
	position: absolute;
	margin-left: 130px;
	justify-content: center;
	align-items: center;
	text-decoration: none;

}
.register .form .submit input{
	margin-left: 110px;
	cursor: pointer;
	width: 24%;
	border-radius: 20px;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	background: transparent;
	background: linear-gradient(#F99304,#fff);
	
}

}
.register .form .submit{
	position: absolute;
	margin-left: 130px;
	justify-content: center;
	align-items: center;
	text-decoration: none;

}
.register .form a{
	text-decoration: none;
	color: #F99304;
}

/*About Page*/
.about .container{
	position: relative;
	color: #fff;
	margin-right: -140px;
	width: 800px;
	height: 500px;
	min-height: 63vh;
	box-shadow: 0px 15px 35px rgba(238,176,13,0.2);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
	border-radius: 20px;
	backdrop-filter: blur(50px);
}
.about .container h1{
	position: absolute;
	top: 10px;
	right: 40px;
	color: rgba(238,176,13,1);
	cursor: none;


}
.about .container .div{
	position: absolute;
	margin-top: -130px;
	margin-left: 40px;
	margin-right: 40px;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}
.about .container .button{
	position: absolute;
	
}
.about a{
	position: relative;
	display: inline-block;
	font-weight: 600;
	bottom: -140px;
	cursor: pointer;
	color: #000;
	padding: 8px 8px;
	background: linear-gradient(#F99304,#fff);
	border-radius: 8px;
	text-decoration: none;
}
